:root {
  --text-body: 18px;
  --text-subheading: 24px;
  --text-heading: 32px;
  --text: hsla(0, 0%, 100%, 1);
  --text-dark: hsl(0, 0%, 0%);
  --background: hsla(0, 0%, 25%, 1);
  --background2: hsla(0, 9%, 13%, 1);
  --background2-30: hsla(0, 9%, 13%, 0.3);
  --primary: hsla(205, 91%, 75%, 1);
  --secondary: hsla(0, 0%, 85%, 1);
  --accent: hsla(0, 60%, 61%, 1);
}

body {
  padding: 0;
  margin: 0;
  background: var(--background, #3f3f3f);
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.container > span {
  color: var(--text);
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container > form {
  display: flex;
  padding: 94px 193px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 30px 0px;
}

.container > form > label {
  color: var(--text);
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container > form > input[type="text"],
.container > form > input[type="email"] {
  width: auto;
  height: auto;
  color: var(--text);
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--background2-30);
  border-radius: 0.5rem;
  border-width: 2px;
  border-color: var(--secondary);
  border-style: solid;
  padding: 10px 20px;
}

.container > form > input:focus[type="text"],
.container > form > input:focus[type="email"] {
  background: var(--background2);
  border-color: var(--accent);
}

.container > form > input[type="submit"] {
  width: auto;
  height: auto;
  color: var(--text);
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: var(--background2-30);
  border-radius: 0.5rem;
  border-width: 2px;
  border-color: var(--secondary);
  border-style: solid;
  padding: 10px 20px;
}

.container > form > input[type="submit"]:hover {
  color: var(--accent);
  border-radius: 0.5rem;
  border-width: 2px;
  background: var(--background2);
  border-color: var(--accent);
  border-style: solid;
}
